[Unit]
Description=VMC python server
After=syslog.target network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/raspVMC
ExecStart=/home/pi/raspVMC/server.py
StandardOutput=syslog
StandardError=syslog


Restart=always

[Install]
WantedBy=multi-user.target

